.header{
  float: left;
  width: 100%;
  padding: 20px 0;
  background: #eee;
}

.logo-class{
  float: left;
  padding-left: 50px;
  width: auto;
}

.header h2{
  margin: 11px 0 0 41%;
}

.section{
  padding: 50px 0;
  float: left;
  width: 100%;
  text-align: center;
}

